<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ExpertUp" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ExpertUp;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
  </system.web>
</configuration>
